body {
  background: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.box {
  text-align: center;
  background: #0a0a0a;
  padding: 40px;
  border-radius: 16px;
  width: 300px;
}

#result {
  font-size: 22px;
  margin: 25px 0;
  padding: 15px;
  background: #111;
  border-radius: 10px;
}

button {
  padding: 12px 30px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background: #ff0055;
  color: white;
}

#play {
  display: none;
  margin-top: 20px;
  display: block;
  color: black;
  background: white;
  padding: 10px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: bold;
}
